.Painel-get, .Painel-post-candidate, .Painel-post-experience, .Painel-get-experience, .Form-delete-experience, .Painel-delete {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.Form-get select, .Button-get, .Form-post, input, .SelecCandidates {
  font-size: 18px;
  flex-wrap: wrap;
  flex-direction: column;
}

.Painel-post-experience, .Painel-get-experience {
  background-color: #808080;
}

.Painel-delete, .Form-delete-experience {
  background-color: #fff;
}

.Form-post {
  display: flex;
  align-items: center;
  gap: 16px;
}

.Painel-put {
  background-color: #808080;
  display: flex;
  justify-content: space-evenly;
  padding: 32px;
}